@charset "UTF-8";

ul{
	width:100%;
	height:40px;
	background-color: teal; 
}

ul li{
	padding:20px;
	display: inline-block;
	height: 20px;
}

ul li a{
	text-decoration: none;
	color: white;
}

.control{
	width:400px;
	height:40px;
}